     /* Стили для header */
     header {
        background-color: #333; /* Цвет фона для всего header */
        padding: 20px;
        position: sticky;
    }

    /* Стили для заголовка */
    header h1 {
        color: white;
        text-align: center;
        font-size: 24px;
        margin: 0;
    }

    /* Стили для навигации */
    nav {
        text-align: center;
        margin-top: 10px;
    }

    /* Стили для списка меню */
    nav ul {
        list-style-type: none; /* Убираем маркеры списка */
        padding: 0;
        margin: 0;
    }

    /* Стили для элементов списка */
    nav ul li {
        display: inline-block; /* Располагаем элементы в строку */
        margin: 0 15px; /* Отступы между элементами */
    }

    /* Стили для ссылок */
    nav ul li a {
        text-decoration: none; /* Убираем подчеркивание */
        color: white; /* Цвет текста */
        font-size: 18px;
        font-weight: bold;
    }

    /* Стили при наведении на ссылку */
    nav ul li a:hover {
        color: #FFD700; /* Цвет текста при наведении */
    }
     #product-grid {
         display: grid;
         grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
         gap: 20px;
         padding: 20px;
     }

     .product-item {
         background: #f9f9f9;
         padding: 15px;
         border: 1px solid #ddd;
         border-radius: 8px;
         text-align: center;
         box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
         transition: transform 0.2s;
     }

     .product-item:hover {
         transform: scale(1.05);
     }

     .product-image {
         max-width: 100%;
         height: auto;
         border-radius: 4px;
         margin-bottom: 10px;
     }
